
<h1><%= @student.name %></h1>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @student.date_of_birth.strftime("%m/%d/%y") %>
</p>

<p>
  <b>Age:</b>
  <%= @student.age %>
</p>

<p>
  <b>Rank:</b>
  <%= "#{rank_name(@student.rank)}" %>
</p>

<p>
  <b>Current Dojo:</b>
  <% if !@student.current_dojo.nil? %>
    <%= link_to @student.current_dojo.name, dojo_path(@student.current_dojo) %>
  <% else %>
    Not currently enrolled in a dojo.
  <% end %>
</p>

<p>
  <b>Phone:</b>
  <%= phone_name(@student.phone) %>
</p>

<p>
  <b>Waiver Signed:</b>
  <%= waiver_name(@student.waiver_signed) %>
</p>

<p>
  <b>Active:</b>
  <%= activity(@student.active) %>
</p>


<!--ACCOUNT INFORMATION -->

<% if can? :show, Student %>

  <br>

  <h5> Account Information </h5>
  <% if !@user.nil? %>

  <p>
    <b>Email:</b>
    <%= @user.email %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% if can? :manage, User%>
    <%= link_to 'Delete Account', user_path(@user), :method => 'delete', :confirm => 'Delete user account?', :class => 'btn btn-mini btn-danger' %>
    <% end %>
  </p>


  <p>
    <b>Role:</b>
    <%= role_name(@user) %>
  </p>

  <p>
    <b>Active:</b>
    <%= activity(@user.active) %>
  </p>



  <% else %>
  Student does not have a user account.
  <% end %>

<% end %>



<% if can? :update, Student %>
     <br><br>
    <p><!--Functionality buttons-->
      <%= link_to 'Edit', edit_student_path(@student), :class => 'btn btn-info' %>
<% end %>

<% if can? :create, Registration %>

      <% if @student.active %>
        <%= link_to 'Register for Section', new_registration_path(:student_id => @student.id, :section_id => nil), :class => 'btn btn-primary' %>
      <% else %>
        <a href="#" class="btn disabled">Inactive students cannot register</a>
      <% end %>
<% end %>


<% if can? :destroy, Student %>
      <%= link_to 'Delete Student', student_path(@student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    </p>
<% end %>


<br><br><br>



<p>
  <h5>Tournament Activity:</h5>
  <table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Rank(s)</th>
    <th>Age(s)</th>
    <th>Date Registered</th>
    <th>Fee Paid?</th>
    <th>Final Standing</th>
    <th></th>
  </tr>

  <% @registrations.each do |reg| %>
    <tr>
      <td><%= link_to reg.event.name, section_path(reg.section) %></td>
      <td><%= rank_range(reg.section.min_rank, reg.section.max_rank) %></td>
      <td><%= age_range(reg.section.min_age, reg.section.max_age) %></td>
      <td><%= reg.date.strftime("%m/%d/%y") %></td>
      <td><%= activity(reg.fee_paid) %></td>
      <td><%= reg.final_standing %></td>

      <td>

<% if can? :destroy, Registration %>
        <%= link_to 'Delete Registration', registration_path(reg), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
<% end %>
      </td>

    </tr>
  <% end %>
</table>
</p>
<span class="smtext">
<%= will_paginate @registrations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<!--This is to ensure that pages with no content don't look bad, with the footer being all the way near the top -->
<% if @registrations.size == 0 %>
<h5>Not registered for any sections</h5>
<br><br><br>
<% end %>


<% if can? :update, Registration %>
  <% if @registrations.size>0 %>
  <%= link_to 'Edit Registrations', edit_registration_path(:student_id => @student.id, :section_id => nil), :class => 'btn btn-info' %>
  <% end %>
<% end %>


<br><br><br>
<p>
  <h5>Dojo History:</h5>
  <table class="table table-striped">
  <tr>
    <th>Dojo</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
    <tr>


  <% @dojo_students.each do |ds| %>
      <% if @dojo_students.size == 0 %>
        <tr><td>No dojo records for this student</td></tr>
      <% end %>
    <tr>
      <td><%= link_to ds.dojo.name, dojo_path(ds.dojo) %></td>
      <td><%= date_format(ds.start_date) %></td>
      <td><%= date_format(ds.end_date) %></td>

    </tr>
  <% end %>
</table>
<span class="smtext">
<%= will_paginate @dojo_students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<!--This is to ensure that pages with no content don't look bad, with the footer being all the way near the top -->
    <% if @dojo_students.size == 0 %>
      <h5>No dojo records for this student</h5>
    <% end %>


<% if can? :create, DojoStudent %>
<table>
<tr>
      <!--Add a new Dojo record right now functionality-->
          <%= simple_form_for @dojo_student, :html => { :class => 'form-search' } do |f| %>
            <%= f.hidden_field :student_id, :value => @student.id %>
            <%= f.hidden_field :start_date, :value => Date.current.to_date %>
            <%= f.hidden_field :end_date, :value => nil %>
             <td> <%= f.association :dojo, :collection => Dojo.active.alphabetical, :label => false %></td>
              <td><%= f.submit 'Add New Dojo', :class => 'btn btn-mini btn-success'%></td>
          <% end %>
  </tr>
</table>
</p>
<% end %>


<% if can? :update, DojoStudent %>
          <% if @dojo_students.size>0 %>
          <%= link_to 'Edit Records', edit_dojo_student_path(:student_id => @student.id), :class => 'btn btn-info' %>
          <% end %>
<% end %>

<br><br><br>

<% if can? :index, Student%>
<div class="form-actions">
  <%= link_to 'Back to Students', students_path, :class => 'btn btn' %>
</div>
<% end %>