
  <div id="side_bar" class="well">
   	<h4>Tournament Links</h4>
   	<div class="btn-group btn-group-vertical side_list">
		<%= link_to 'Create New Tournament', new_tournament_path, :class => "btn btn-info side_btn" %>
		<%= link_to 'Past Tournaments', past_tournaments_path, :class => "btn side_btn" %>
		<%= link_to 'Upcoming Tournaments', upcoming_tournaments_path, :class => "btn side_btn" %>
		<%= link_to 'Active Tournaments', active_tournaments_path, :class => "btn side_btn" %>
		<%= link_to 'Inactive Tournaments', inactive_tournaments_path, :class => "btn side_btn" %>
	</div>
  </div>