<%= simple_form_for @tournament, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Tournament</legend>
     <%= f.input :name, :required => true %>
       <%= f.input :date, :as => :date, :order => [:month, :day, :year], :start_year => Date.today.year - 2, :end_year => 2.years.from_now.year, :use_month_numbers => false, :include_blank => true, :required => true %>
       <%= f.input :min_rank, :collection => (1..15), :label_method =>  lambda{|i| rank_name(i)}, :required => true %>
       <%= f.input :max_rank, :collection => (1..15), :label_method =>  lambda{|i| rank_name(i)}, :include_blank => true %>
       <%=f.input :active%>

		<div class="form-actions">
		  <%= f.submit "Create Tournament", :class => 'btn btn-primary' %>
		  <%= link_to 'Cancel', tournaments_path, :class => 'btn' %>
		</div>

  </fieldset>
<% end %>
