
<h1>A&M Karate School Tournament System</h1>

<%= image_tag ("kkid.jpg"), :class=>"home-img img-polaroid"%>

<h4>Welcome, ADMIN, to your database application to track, register, and manage Karate students and tournaments.</h4>
<h5>To get started, use the links below, to the left, or above to navigate the site.</h5>

<tr>
	<td><%= link_to 'students', students_path, :class => "btn btn-large btn-info" %></td>
	<td><%= link_to 'dojos', dojos_path, :class => "btn btn-large btn-info" %></td>
	<td><%= link_to 'tournaments', tournaments_path, :class => "btn btn-large btn-info" %></td>
	<td><%= link_to 'sections', sections_path, :class => "btn btn-large btn-info" %></td>
	<td><%= link_to 'events', events_path, :class => "btn btn-large btn-info"%></td>
</tr>

<h5>Below, you can see recent section registrations, dojo records, upcoming tournaments, sections you're registered for, and upcoming sections you can register for.</h5>

<div class = "row" >

<div class = "span2">
Recent Section Registrations


</div>
<div class = "span2">
Recent Dojo Records


</div>
<div class = "span2">
Upcoming Tournaments


</div>
<div class = "span2">
Upcoming Registered Sections


</div>
<div class = "span2">
Sections you can Register for


</div>


</div>