
<h1>A&M Karate School Tournament System</h1>

<%= image_tag ("kkid.jpg"), :class=>"home-img img-polaroid"%>

<h4>Welcome, MEMBER, to the A&M Karate School Tournament System.</h4>
<h5>This system can keep track of tournaments, students, dojos, and participation in tournament sections. As a member, you can view dojos or your own personal information by clicking the buttons below.</h5>

<tr>
	<td><%= link_to 'Dojos', dojos_path, :class => "btn btn-large btn-info" %></td>
	<td><%= link_to 'My Info', student_path(current_user.student), :class => "btn btn-large btn-info" %></td>
</tr>

<h5>Below, you can see your student information, upcoming tournaments, sections you're registered for, and upcoming sections you can register for.</h5>

<div class = "row" >

<div class = "span2">
	<fieldset class = "dash_box well">
		<table class = "grey-background">
			<tr><th>Your Information</th></tr>
			<tr><td>Name: <%= current_user.student.name %></td></tr>
			<tr><td>Rank: <%= rank_name(current_user.student.rank) %></td></tr>
			<tr><td>Current Dojo: <%= current_user.student.current_dojo.name %></td></tr>
			<tr><td><%= link_to 'My Info', student_path(current_user.student), :class => "btn btn-info"%></td></tr>

		</table>
	</fieldset>

</div>
<div class = "span6">
	<fieldset class = "dash_box well">
		<table class = "grey-background span6">
			<tr><th colspan="3">Upcoming Tournaments</th></tr>
			<tr><th>Name</th><th>Date</th><th>Ranks</th></tr>
			<% @upcoming_tournaments.each do |t| %>
			<tr><td><%= t.name %></td>
			<td><%= date_format(t.date) %></td>
			<td><%= rank_range_for(t)%></td></tr>
			<% end %>
				<% if @upcoming_tournaments.empty? %>
				<tr><td colspan="3">There are no upcoming tournaments.</td></tr>
				<% end %>

		</table>
	</fieldset>
</div>
<div class = "span6">
	<fieldset class = "dash_box well">
		<table class = "grey-background span6">
			<tr><th colspan="2">Your Upcoming Sections</th></tr>
			<tr><th>Event</th><th>Date</th></tr>
			<% @up_reg_sections.each do |s| %>
			<tr><td><%= s.event.name %></td>
			<td><%= date_format(s.tournament.date) %></td>
			<% end %>
			<% if @up_reg_sections.empty? %>
				<tr><td colspan="2">You have no upcoming sections registered.</td></tr>
				<% end %>

		</table>
	</fieldset>


</div>
<div class = "span6 offset2">
	<fieldset class = "dash_box well">
		<table class = "grey-background span6">
			<tr><th colspan="4">Upcoming Sections You are Eligible For</th></tr>
			<tr><th>Name</th><th>Date</th><th>Ranks</th><th>Ages</th></tr>
			<% @eligible_sec.each do |s| %>
				<tr><td><%= s.event.name %></td>
				<td><%= date_format(s.tournament.date) %></td>
				<td><%= rank_range_for(s)%></td>
				<td><%= age_range_for(s) %></td>
				</tr>
			<% end %>
			<% if @eligible_sec.empty? %>
				<tr><td colspan="4">You are not eligible for any upcoming sections.</td></tr>
				<% end %>

		</table>
	</fieldset>


</div>


</div>