
<h1>A&M Karate School Tournament System</h1>

<%= image_tag ("kkid.jpg"), :class=>"home-img img-polaroid"%>

<h4>Welcome, MEMBER, to the A&M Karate School Tournament System.</h4>
<h5>This system can keep track of tournaments, students, dojos, and participation in tournament sections. As a member, you can view dojos, tournaments, and sections by clicking the buttons below.</h5>

<tr>
	<td><%= link_to 'Dojos', dojos_path, :class => "btn btn-large btn-info" %></td>
	<td><%= link_to 'Tournaments', tournaments_path, :class => "btn btn-large btn-info" %></td>
	<td><%= link_to 'Sections', sections_path, :class => "btn btn-large btn-info" %></td>
</tr>

<h5>Below, you can see your student information, upcoming tournaments, sections you're registered for, and upcoming sections you can register for.</h5>

<div class = "row" >

<div class = "span2">
	<fieldset class = "dash_box">
		<table>
			<tr><th>Your Information</th></tr>
			<tr><td>Name: <%= current_user.student.name %></td></tr>
			<tr><td>Rank: <%= rank_name(current_user.student.rank) %></td></tr>
			<tr><td>Current Dojo: <%= current_user.student.current_dojo.name %></td></tr>
			<tr><td><%= link_to 'My Info', student_path(current_user.student), :class => "btn btn-info"%></td></tr>

		</table>
	</fieldset>

</div>
<div class = "span2">
	<fieldset class = "dash_box">
		Upcoming Tournaments


	</fieldset>
</div>
<div class = "span2">
	<fieldset class = "dash_box">
		Your Registered Sections


	</fieldset>


</div>
<div class = "span2">
	<fieldset class = "dash_box">
		Available Registrations


	</fieldset>


</div>


</div>