<h2>Search result for <em>'<%= @query %>'</em> resulted in <%# pluralize(@size, 'hit') %></h2>
<p class="supertiny">&nbsp;</p>

<%# unless @students.empty? %>
	<p><em><strong>Students matching term '<%# @query %>'</strong></em></p>
	<ul>
		<%# for student in @students do %>
			<li><%# link_to student.name, student_path(student) %></li>
		<%# end %>
	</ul>
	<p class="smtext">&nbsp;</p>
<%# end %>

<br><br><br>
@query = <%= @query %> --- <%= @query.nil? %>
<br>
@students= <%= @students %> --- <%= @students.nil? %>