<%= simple_form_for @section, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> section</legend>
    <%= f.association :tournament, :as => :select, :collection => @tournaments, :prompt => "Choose an tournament", :required => true %>
     <%= f.association :event, :as => :select, :collection => @events, :prompt => "Choose an event", :required => true %>

       <%= f.input :min_age, :required => true %>
        <%= f.input :max_age, :include_blank => true %>

       <%= f.input :min_rank, :collection => (1..15), :label_method =>  lambda{|i| rank_name(i)}, :required => true %>
        <%= f.input :max_rank, :collection => (1..15), :label_method =>  lambda{|i| rank_name(i)}, :include_blank => true %>

       <%= f.input :location, :include_blank => true %>
       <%= f.input :round_time, :include_blank => true %>

     	 <%= f.input :active, :as => :radio_buttons %>


		<div class="form-actions">
		  <%= f.submit 'Update Section', :class => 'btn btn-primary' %>
		  <%= link_to 'Cancel', section_path(@section), :class => 'btn' %>
		</div>

  </fieldset>
<% end %>
