<h1>Events</h1>
<h2>List of Events</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event_path(event) %></td>
      <td><%= activity(event.active) %></td>
      <td><%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', event_path(event), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
    </tr>
  <% end %>
</table>
<span class="smtext">
<%= will_paginate @events, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>



<!-- Will make the page look nice if there are no events-->
<% if @events.size == 0 %>
<h5>No events</h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% elsif @events.size<11 ; (11-@events.size).times do %>
  <br>
<% end; end %>