
<h1><%= "Event Details" %></h1>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Active:</b>
  <%= activity(@event.active) %>
</p>

<br><br>
<p>
<%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-info' %>
<%= link_to 'Delete Event', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</p>
<br><br>

<div class="form-actions">
  <%= link_to 'Back to Events', events_path, :class => 'btn btn' %>
</div>
