<h1> Edit Dojo Records for Student</h1>

<h3> Dojo Records for:</h3>
<table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Rank</th>
      </tr>
      <tr>
        <td><%= link_to @student.name, student_path(@student) %></td>
        <td><%= @student.age %></td>
        <td><%= "#{rank_name(@student.rank)}" %></td>
      </tr>
    </table>


<p>
  <b>Dojo History:</b>
  <table class="table table-striped">
  <tr>
    <th>Dojo</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
    <th></th>
  </tr>
    <tr>


  <% @dojo_students.each do |ds| %>
      <%= simple_form_for ds, :html => { :class => 'form-horizontal' } do |f| %>
          
            <%= f.hidden_field :student_id, :value => ds.student.id %>
            <td><%= f.association :dojo, :collection => Dojo.active.alphabetical, :label => false, :input_html => {:class => "dojo_box"} %></td>
            <td><%= f.input :start_date, :label => false, :order => [:month, :day, :year], :input_html => {:class => "date_box"} %></td>
            <td><%= f.input :end_date, :label => false, :order => [:month, :day, :year], :include_blank => true, :input_html => {:class => "date_box"} %></td>
            <td><%= f.submit 'Update Record', :class => 'btn btn-mini btn-primary' %></td>
            <% end %>


            <td>

        		<% if ds.end_date == nil %>
              <%= simple_form_for ds, :html => { :class => 'form-horizontal' } do |f| %>
            
                    <%= f.hidden_field :student_id, :value => ds.student.id %>
                    <%= f.hidden_field :dojo_id, :value => ds.dojo.id %>
                    <%= f.hidden_field :start_date, :value => ds.start_date %>
                    <%= f.hidden_field :end_date, :value => Date.current.to_date  %>
                    <%= f.submit 'End Record', :confirm => 'End record?', :class => 'btn btn-mini btn-info ds_button' %>
              <% end %>

        		<% else %>


            		<%= link_to 'Delete Record', dojo_student_path(ds), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger ds_button' %>
       			 <% end %>
    		</td>


    </tr>

  <% end %>
</table>


</p>
<span class="smtext">
<%= will_paginate @dojo_students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>


<table>
<tr>
      <!--Add a new Dojo record right now functionality-->
          <%= simple_form_for @dojo_student, :html => { :class => 'form-search' } do |f| %>
            <%= f.hidden_field :student_id, :value => @student.id %>
            <%= f.hidden_field :start_date, :value => Date.current.to_date %>
            <%= f.hidden_field :end_date, :value => nil %>
             <td> <%= f.association :dojo, :collection => Dojo.active.alphabetical, :label => false %></td>
              <td><%= f.submit 'Add New Dojo', :class => 'btn btn-mini btn-success'%></td>
          <% end %>
  </tr>
</table>

<%= link_to 'Back', student_path(@student), :class => 'btn' %>
