<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City, State</th>
    <th>Members</th>
  </tr>

  <% dojo.each do |d| %>
    <tr>
      <td><%= link_to d.name, dojo_path(d) %></td>
      <td><%= d.street %></td>
      <td><%= "#{d.city}, #{d.state}" %></td>
      <td><%= d.current_students.size %></td>
    </tr>
  <% end %>
</table>
<span class="smtext">
<%= will_paginate dojo, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>



<!--This is to ensure that pages with no or little content don't look bad, with the footer being all the way near the top -->
<% if dojo.size == 0 %>
<h5>No dojos in this category</h5>
<br><br><br><br><br><br><br>
<% elsif dojo.size<10 ; (10-dojo.size).times do %>
  <br>
<% end; end %>