<h1>Dojo Details</h1>
<h3><%= @dojo.name %></h3>

<p>
  <b>Name:</b>
  <%= @dojo.name %>
</p>

<p>
  <b>Address:</b>
  	<p>
  		<%= @dojo.street %><br>
  		<%= "#{@dojo.city}, #{@dojo.state} #{@dojo.zip}" %>
  	</p>
</p>


<p>
  <b>Active:</b>
  <%= activity(@dojo.active) %>
</p>

<br><br>
<% if can? :manage, Dojo %>
	<p><!--Functionality buttons-->
	  <%= link_to 'Edit', edit_dojo_path(@dojo), :class => 'btn btn-info' %>
	  <%= link_to 'Delete dojo', dojo_path(@dojo), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
	</p>
<% end %>

<br><br>
<!--Google Maps-->  

<!--fyi I had to put a method in Dojo model, and it is UNTESTED-->
<%= image_tag @dojo.create_map_link %>


<br><br>
<br><br>

<% if current_user.nil? %>
	Visit this Dojo to sign up for KARATE!!!!
<% elsif current_user.student.current_dojo == @dojo or can?(:manage, Dojo) %>
<!--CURRENT STUDENTS LISTED-->
		<p>
		  <b>Current Members:</b>
		<table class="table table-striped">
		  <tr>
		    <th>Name</th>
		    <th>Age</th>
		    <th>Rank</th>
		  </tr>

		  <% @current_students.each do |student| %>
		    <tr>
		      <td><%= link_to student.name, student_path(student) %></td>
		      <td><%= student.age %></td>
		      <td><%= "#{rank_name(student.rank)}" %></td>
		    </tr>
		      
		  <% end %>
		</table>

		<span class="smtext">
		<%= will_paginate @dojo_students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
		</span>

		</p>



		<!--This is to ensure that pages with no content don't look bad, with the footer being all the way near the top -->
		<% if @current_students.size == 0 %>
		<h5>None at this time.</h5>
		<br><br><br>
		<% end %>

<% end %>





<div class="form-actions">
  <%= link_to 'Back to dojos', dojos_path, :class => 'btn btn' %><t>
</div>
