<!DOCTYPE html>
<html>
<head>
  <title>A &amp; M Karate Tournament System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- NOTE: assumes bootstrap grid system -->
  <div class="wrapper">
    <div class="container">
    <!-- TITLE BAR -->
    
    <!-- NAV BAR -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href=<%= home_path%>>A &amp; M Karate Tournament System</a>
          <ul class="nav">
            <li><%= link_to "Students", students_path %></li>
            <li><%= link_to "Sections", sections_path %></li>
            <li><%= link_to "Events", events_path %></li>            
            <li><%= link_to "Dojos", dojos_path %></li>
            <li><%= link_to "Tournaments", tournaments_path %></li>

                <% if logged_in? %>
                <li class="nav_user">
                <%= link_to "#{current_user.student.proper_name} : #{current_user.role}", student_path(current_user.student) %></li>
                <li class="nav_logout"><%= link_to 'Logout', logout_path, :class => "no button" %></li>
                <% else %>
                <li class="nav_login">
                  <%= link_to 'Login', login_path %></li>
                <% end %>

          </ul>
          
        </div>
      </div>
    </div>
    </div>


    <!-- MAIN CONTENT -->
    <div class="container">

      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">x</a>
          <%= msg %>
      </div>
         <% end %>

         
      <div class="row">
        <!-- main content placed here-->
          <div class="span3 bs-docs-sidebar">
            <div class="sidebar">
              <%= link_to image_tag('rex2.jpg'), home_path %>
             <%= render :partial => "#{controller.controller_name}/sidebar" %>
            </div>
          </div>


        <div class="span8">
          <div id="main_content">
           <%= yield %>
          </div>
        </div>

      </div>
    </div>


  </div>
  
  <!-- FOOTER -->
  <footer class="footer" id="footer">
    <div class="container">
      <%= render :partial => "partials/footer" %>
    </div>
  </footer>
</body>
</html>
